body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #FFD1C3; /* Gold background */
    color: #333; /* Dark text color */
    font-family: 'Arial', sans-serif;
  }
  
  #player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FACCD9; /* Yellow background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #album-cover {
    width: 200px;
    height: 200px;
    background-image: url("images/cover.jpg");
    background-size: contain;
    /* object-fit: fill; */
    background-color: #FE80A2; /* Amber background */
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  #song-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #controls {
    display: flex;
    align-items: center;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    color: #4CAF50; /* Green control buttons */
  }
  
  /* Existing styles remain unchanged */

#controls input {
    width: 200px;
    margin-left: 10px;
  }
  #seekSlider {
    width: 200px;
    margin-bottom: 10px;
  }
  
  #time-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FF69B4; /* Medium Pink text color */
  }